
<hr class="hr" />
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" height="270px" src="https://www.clipartmax.com/png/full/112-1122932_icono-nuevo-archivo-new-new-file-icon-png.png" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Nuevo</h5>
                <p class="card-text">Interfaz para generara un nuevo registro</p>
                <a routerLink="/admin/paciente/nuevo" class="btn btn-primary">Nuevo Registro</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" height="270px" src="https://images.pngnice.com/download/2219/Agenda-PNG-Image.png" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Listar</h5>
                <p class="card-text">Interfaz para generara un nuevo registro</p>
                <a routerLink="/admin/paciente/lista" class="btn btn-primary">Listar Registros</a>
                </div>
            </div>
        </div>
    </div>
</div>