<form class="login100-form" autocomplete="off" [formGroup]="Formulario" (ngSubmit)="login()">
                
    <span class="login100-form-title p-b-49">
        Ciam Login
    </span>

    <div class="wrap-input100 m-b-23">
        <span class="label-input100">Usuario</span>
        <input class="input100"
               type="text"
               formControlName="username"
               placeholder="Ingrese usuario">
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100">
        <span class="label-input100">Password</span>
        <input class="input100"
               type="password"
               formControlName="password"
               placeholder="Ingrese su contraseña">
        <span class="focus-input100"></span>
    </div>
    
    <div class="text-right p-t-8 p-b-31"></div>
    
    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" type="submit">
                Login
            </button>
        </div>
    </div>

</form>