<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Ciam</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/registro">Registro</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Usuario
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="logout()">Salir</a>
            <a class="dropdown-item" href="#">Configuracion</a>
          </div>
        </li>
      </ul>
    </div>
</nav>

<router-outlet></router-outlet>

<hr class="hr" />

<div id="footer">
  <p class="text-center">
    Copyright &copy; 2021 Company Name 
    | Designed by Forestal
  </p>
</div>

<style>
  #footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#151515;
}
</style>

