<hr class="hr" />
<div class="container">
    <div class="page-header text-center">
        <h1>Formulario para personas nuevas</h1>
    </div>
    <br>
    <form class="login100-form" autocomplete="off" [formGroup]="Formulario" (ngSubmit)="FormActulizarPersona()">
        <div class="form-group">
          <label for="nombres_completos">Nombres Completos</label>
          <input type="text" formControlName="nombres_completos" class="form-control" id="nombres_completos" placeholder="Ingresa tus nombres">
        </div>
        <div class="form-group">
            <label for="apellidos_completos">Apellidos Completos</label>
            <input type="text" formControlName="apellidos_completos" class="form-control" id="exampleInputApelldos" placeholder="Ingresa tus apellidos">
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="identificacion">identificacion</label>
                    <input type="text" formControlName="identificacion" class="form-control" id="identificacion" placeholder="numero de indentifiacion">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="tipo_identificacion">Tipo Identificador</label>
                    <select class="form-control" formControlName="tipo_identificacion" id="exampleFormControlSelect1">
                    <option value="DPI">DPI</option>
                    <option value="CEDULA">CÉDULA</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="fecha_nacimiento">Fecha Nacimiento</label>
                    <input type="text" formControlName="fecha_nacimiento" class="form-control" id="fecha_nacimiento" placeholder="Ingresa tu fecha de nacimiento">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="genero">Genero</label>
                    <select class="form-control" formControlName="genero" id="genero">
                    <option value="MASCULINO">Masculino</option>
                    <option value="FEMENINO">Femenino</option>
                    </select>
                </div>
            </div>
        </div>  

        <div class="form-group">
            <label for="direccion">Direccion</label>
            <input type="text" formControlName="direccion" class="form-control" id="nombres_completos" placeholder="Ingresa tu direccion">
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="departamento">Departamento</label>
                    <input type="text" formControlName="departamento" class="form-control" id="departamento" placeholder="Ingresa tu Departamento">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="municipio">Municipio</label>
                    <input type="text" formControlName="municipio" class="form-control" id="municipio" placeholder="Ingresa tu Municipio">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="number" formControlName="telefono" class="form-control" id="telefono" placeholder="Ingresa su numero de telefono">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="tipo_paciente">Tipo Paciente</label>
                    <select class="form-control" formControlName="tipo_paciente" id="exampleFormControlSelect1">
                    <option value="ESTANDAR">Estandar</option>
                    <option value="VIP">VIP</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Rol</label>
                    <select class="form-control" formControlName="rol" id="exampleFormControlSelect1">
                    <option value="PACIENTE_POTENCIAL_ROL">PACIENTE POTENCIAL</option>
                    <option value="PACIENTE_ROL">PACIENTE</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Correo Electronico</label>
            <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingrea email">
        </div>

        <hr class="hr" />
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
<br><br>
