<hr class="hr" />
<div class="container">
    <div class="page-header text-center">
        <h1>Lista de Pacientes</h1>
    </div>
    <br>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Identificacion</th>
            <th scope="col">Tipo</th>
            <th scope="col">Nombre Completos</th>
            <th scope="col">Apellidos Completos</th>
            <th scope="col">Email</th>
            <th scope="col">Editar</th>
            <th scope="col">ELiminar</th>
          </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let tag of encabezadoLista; let i = index">
          <tr>
            <td>{{tag.identificacion}}</td>
            <td>{{tag.tipo_identificacion}}</td>
            <td>{{tag.nombres_completos}}</td>
            <td>{{tag.apellidos_completos}}</td>
            <td>{{tag.email}}</td>
            <td class="text-center"><button type="button" [routerLink]="['/admin/paciente/consulta/',tag.id]" class="btn btn-info"><i class="bi bi-pencil-square"></i></button></td>
            <td class="text-center"><button type="button" (click)="eliminar(tag.id)" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></button></td>
          </tr>
        </ng-container>
        </tbody>
      </table>

</div>
<br><br>
